*{
    text-decoration: none;
}
body{
    width: 960px;
    background-color: rgb(159, 140, 177);
}
img{
    float: left;
    width: 130px;
}
body h2{
    float: right;
    padding-right: 630px;
    font-size: 36px;
}
a:hover{
    text-decoration: underline;
}