.container{
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    'photo header header header header'
    'sidebar content content content content'
    'footer footer footer footer footer';
}
.container div{
    padding: 20px;
}
#photo{
    grid-area: photo;
    padding: 15px;
    /* foto dando problema (quebrada. ver sobre FLEXBOX */
}
#header{
    grid-area: header;
    font-size: 20px;
}
#sidebar{
    grid-area: sidebar;
    height: 100vh;
}
#content{
    grid-area: content;
   height: 100vh;
}
#footer{
    grid-area: footer;
}